body{  display: flex;
    
    justify-content: center;
    align-items: center;



}

.divpai{display: block;
  border: 1px solid black;
width: 450px;
height: 560px;
border-radius: 15px;
background-color: rgba(67, 137, 139, 0.438);;



}

.first{
display: inline-block;



}


.last{display: inline-block;
margin-left: 30px;


}

.div{ display: flex;
    
    margin-left: 20px;
    margin-right: 28px;
}
.name{
    width: 170px;
}